{% extends "base.html" %}

{% block content %}

<h1>Posts</h1>

<!-- FILTERS -->
<div class="filters">
    <a href="{% url 'posts' %}"
       class="filter-btn {% if not status and not query %}active{% endif %}">
        All
    </a>

    <a href="{% url 'posts' %}?status=published{% if query %}&q={{ query }}{% endif %}"
       class="filter-btn {% if status == 'published' %}active{% endif %}">
        Published
    </a>

    <a href="{% url 'posts' %}?status=unpublished{% if query %}&q={{ query }}{% endif %}"
       class="filter-btn {% if status == 'unpublished' %}active{% endif %}">
        Unpublished
    </a>
</div>



<!-- SEARCH -->
<form method="get" class="search-form">
    {% if status %}
        <input type="hidden" name="status" value="{{ status }}">
    {% endif %}

    <input
        type="text"
        name="q"
        placeholder="Search posts..."
        value="{{ query }}"
    >
</form>

<hr>

{% if posts %}
    {% for post in posts %}
        <div class="post-card">
            <h3>
                <a href="{% url 'post_detail' slug=post.slug %}">
                    {{ post.title }}
                </a>
            </h3>

            <p class="meta">
                {{ post.created_at }}
                {% if not post.is_published %}
                    <span class="badge">Draft</span>
                {% endif %}
            </p>

            <p>{{ post.content|truncatechars:150 }}</p>

            <div class="actions">
                <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-read">
                    Read
                </a>

                <a href="{% url 'post_update' slug=post.slug %}" class="btn btn-edit">
                    Edit
                </a>

                <form action="{% url 'post_delete' slug=post.slug %}"
                    method="post"
                    class="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-delete"
                            onclick="return confirm('Are you sure?')">
                        Delete
                    </button>
                </form>
            </div>


        </div>
    {% endfor %}
{% else %}
    <p>No posts found.</p>
{% endif %}

{% endblock %}
